@{
    ViewData["Title"] = "Home Page";
    List<Products> allProducts = (List<Products>)ViewData["allProducts"];
    List<Products> priceDesc = (List<Products>)ViewData["priceDesc"];
    
    string searchStr = (string)ViewData["searchStr"];

}


@{
    <form action="/Search/" method="POST" style="padding:20px">
        <b>Search Products:</b> <input name="searchStr" value="@searchStr" style="width:75%" />
    </form>

    <p></p>
}
<b>Sort By:</b>
<a href="/ProductsSort/PriceAsce">Low to High</a> |
<a href="/ProductsSort/PriceDesc"><b>High to Low</b></a> |
<a href="/ProductsSort/NameAsce">A to Z</a> |
<a href="/ProductsSort/NameDesc">Z to A</a> |
<a href="/Home/Index">Clear</a>

<div class="container">
    <div class="row mx-auto">
        @{foreach (Products products in priceDesc)
            {
                <div class="card m-10 p-10" style="width: 18rem; margin: 0.5rem;">
                    <img class="card-img-top mx-auto" style="width: 150px;height: 150px; margin: 1rem" src="/Image/@products.IconURL" alt="Product Image TBF">

                    <div class="card-body">
                        <h5 class="card-title text-center">@products.ProductName</h5>
                        <p class="card-text text-center">@products.ProductDescription</p>
                        <p class="card-text text-center" style="font-weight:bold">$@products.UnitPrice.ToString("0.00")</p>
                        <p class="card-text text-center" id="@products.ProductId"></p>
                    </div>

                    <div class="card-text text-center">
                        <a onclick="addToCart(@products.ProductId);" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                        <br />
                    </div>

                </div>
            }
        }
    </div>
</div>

